<!DOCTYPE html>
<html lang="en">

<!-- font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor about</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/donorAbout.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet">

</head>

<body>

    <!-- NAVBAR -->


    <section id="navigation">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/donorHome">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/donorForm">Forms</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/donorReports">Reports</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/nearYou">Near you</a>
                        </li>

                        <li class="nav-item nav-item-user"><a class="nav-link nav-log-in" href="/logout">Log out</a></li>

                        <li class="nav-item nav-item-user"><a class="nav-link" href="/donorProfile"><i class="fa-solid fa-user fa-2xl"
                                    style="color: #ffff;"></i></a></li>
                                    
                    </ul>
                </div>
            </div>
        </nav>
    </section>


    <!-- DONOR INTRO  -->

    <section id="donor-intro-section">

        <div class="img-div col-lg col-md col-sm">
            <img src="images/donor intro page.png" alt="">
        </div>

        <div class="row">
            <div class="salutation-header col-lg col-md col-sm">
                <h1>Tales of humanity...</h1>
            </div>
        </div>

        <div class="row icon-div icon-div-top">
            <i class="fa-solid fa-quote-left fa-5x start-quote-icon" style="color: #4f2c7c;"></i>
        </div>

        <div class="row testimonial-row">
            <div class="testimonies col-lg-4 col-md-6  col-sm">
                <h3><em>“I’m so grateful to my donor’s family because of his gift I get to kiss a miracle everyday”</em></h3>
                <h3 class="testimony-name">A liver recipient</h3>
            </div>
            <div class="testimonies col-lg-4 col-md-6  col-sm">
                <h3><em>“You have two kidneys but you can survive with one. That extra can give someone a new life”</em></h3>
                <h3 class="testimony-name">A kidney donor</h3>
            </div>
            <div class="testimonies col-lg-4 col-md-12  col-sm">
                <h3><em>“I’m a donor because even when I’m gone I will still have the power to save someone else’s life”</em></h3>
                <h3 class="testimony-name">Jess Cardiff</h3>
            </div>
        </div>

        <div class="row icon-div icon-div-bottom">
            <i class="fa-solid fa-quote-left fa-5x end-quote-icon" style="color: #4f2c7c;"></i>
        </div>

    </section>

    <!-- FOOTER -->

    <section id="footer">
        <div class="row">
            <div class="text-field-footer col-lg col-md col-sm">
                <h2>5 people in your locality registered today......</h2>
            </div>
        </div>
    </section>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1bfdc90190.js" crossorigin="anonymous"></script>
</body>

</html>