<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/donorForms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <section id="navbar">

        <nav class="navbar navbar-expand-lg bg-body-tertiary donorNavbar">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#">OrganHub</a> -->
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
    
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/donorHome">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/donorForm">Forms</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/donorReports">Reports</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/nearYou">Near You</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
    
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Sign up</a></li> -->
    
                        <li class="nav-item"><a class="nav-link" href="/donorProfile"><i class="fa-solid fa-user fa-xl" style="color: #f2f2f2;"></i> </a></li>
                           
                            
                    </ul>
                </div>
            </div>
        </nav>
    
    </section>

    <section id="formsTable">
        <div id="content">
            <h2 style="text-align: center;">Download Forms (Under Transplantation of Human Organs and Tissues Rules, 2014)</h2>
            <br>
            <table class="tableData table table-hover" width="100%">
            <tbody>
            <tr>
            <th style="width:50px; font-weight:bold">S.No.</th>
            <th style="width:85px; font-weight:bold">Form No.</th>
            <th style="width:680px; font-weight:bold">Description</th>
            <th style="font-weight:bold">Download</th>
            </tr>
            <tr>
            <td>1 </td>
            <td>Form 1</td>
            <td>For organ or tissue donation from identified living near related donor</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM1.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>2 </td>
            <td>Form 2</td>
            <td>For organ or tissue donation by living spousal donor</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM2.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>3 </td>
            <td>Form 3</td>
            <td>For organ or tissue donation by other than near relative living donor</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM3.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>4 </td>
            <td>Form 4</td>
            <td>For certification of medical fitness of living donor</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM4.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>5 </td>
            <td>Form 5</td>
            <td>For certification of genetic relationship of living donor with recipient</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM5.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>6 </td>
            <td>Form 6</td>
            <td>For spousal living donor</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM6.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>7 </td>
            <td>Form 7</td>
            <td>For organ or tissue pledging</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM7.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>8 </td>
            <td>Form 8</td>
            <td>For Declaration cum consent</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM8.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>9 </td>
            <td>Form 9</td>
            <td>For unclaimed body in a hospital or prison</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM9.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>10 </td>
            <td>Form 10</td>
            <td>For certification of brain stem death</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM10.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>11 </td>
            <td>Form 11</td>
            <td>APPLICATION FOR APPROVAL OF TRANSPLANTATION FROM LIVING DONOR</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM11.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>12 </td>
            <td>Form 12</td>
            <td>APPLICATION FOR REGISTRATION OF HOSPITAL TO CARRY OUT ORGAN OR TISSUE TRANSPLANTATION OTHER THAN CORNEA</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM12.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>13 </td>
            <td>Form 13</td>
            <td>APPLICATION FOR REGISTRATION OF HOSPITAL TO CARRY OUT ORGAN/TISSUE RETRIEVAL OTHER THAN EYE/CORNEA RETRIEVAL</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM13.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>14 </td>
            <td>Form 14</td>
            <td>APPLICATION FOR REGISTRATION OF TISSUE BANKS OTHER THAN EYE BANKS</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM14.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>15 </td>
            <td>Form 15</td>
            <td>APPLICATION FOR REGISTRATION OF EYE BANK, CORNEAL TRANSPLANTATION CENTRE, EYE RETRIEVAL CENTRE UNDER TRANSPLANTATION OF HUMAN ORGANS ACT</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM15.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>16 </td>
            <td>Form 16</td>
            <td>CERTIFICATE OF REGISTRATION FOR PERFORMING ORGAN/TISSUE TRANSPLANTATION/RETRIEVAL AND/OR TISSUE BANKING</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM16.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>17 </td>
            <td>Form 17</td>
            <td>Certificate of Renewal of Registration</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM17.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>18 </td>
            <td>Form 18</td>
            <td>Verification certificate in respect of domicile status of recipient or donor [To be issued by tehsildar or any other authorised officer for the purpose (required only for the donor - other than near relative or recipient if they do not belong to the state
             where transplant hospital identified for operation is located)]</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM18.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>19 </td>
            <td>Form 19</td>
            <td>Certificate by competent authority [as defined at rule 2(c)] For Indian near relative,other than spouse, cases (In case of spousal donor, Form 6 will be applicable)</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM19.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>20 </td>
            <td>Form 20</td>
            <td>Verification certificate in respect of domicile status of recipient or donor [To be issued by tehsildar or any other authorised officer for the purpose (required only for the donor - other than near relative or recipient if they do not belong to the state
             where transplant hospital identified for operation is located)]</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM20.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            <tr>
            <td>21 </td>
            <td>Form 21</td>
            <td>Certificate of relationship between donor and recipient in case of foreigners (To be issued by the Embassy concerned)</td>
            <td style="text-align:center"><a target="_blank" href="https://notto.gov.in/WriteReadData/Portal/images/FORM21.pdf" style="font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:12px; text-decoration:none"><img src="http://airindia.in/Images/PDF_doc.gif"></a></td>
            </tr>
            </tbody>
            </table>
            </div>
    </section>
    
    
</body>

<script src="https://kit.fontawesome.com/cee42972ba.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>