

.loginBody
{
    background-color: white;
    font-family: 'Lato', sans-serif;
}

.card {
    border: 0px;
}

.formBody
{
    background-color: rgb(80,44,124);
    border-radius: 47px;
    box-shadow: 10px 10px 35px 15px #1e1d1d;
}

.formHeader
{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 4rem;
    font-size: 4rem;
}

.hospitalForm
{
    color: whitesmoke;
}

.subHeading
{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3rem;
    
}

.hospitalFormButton
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formFooter
{
    font-family: 'Lato', sans-serif;
    background-color: #a09bc4;
    size: inherit;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.formFooter p {
    margin-bottom: 0;
    padding: 1% 1%;
    font-size: 16px;
}

.loginRedirect
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: end;
}

.btn {
    border-radius: 5px;
}

.brandName
{
    color: #4200FF;
    padding-bottom: 1rem;
    font-size: 5rem;
    background-image: -webkit-linear-gradient(0deg, #4200FF 0%,#AD84E3 76%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
text-align: center;}


    .welcome
    {
        color: #4200FF;
        font-size: 3rem;
        text-align: center;
    }