.hospitalRequestBG
{
    background-image: url(../images/HospitalIntro.png)  ;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family:'Lato', sans-serif;
    
 
}

.hospitalRequestOptions
{
    border-color: #4F2B7C !important;
    border-width: 0.5rem !important;
    border-radius: 25px;
    font-family:'Lato', sans-serif;
    font-size: xx-large;
    color: grey;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
    font-family:'Lato', sans-serif;
  }

  .hospitalRequestButton
  {
    background-color: #502C7C;
    color: whitesmoke;
    
    
  }
  .btn:hover
  {
    color: grey;
  }

  .form-select {
    background-size: 20px auto;
}

.addressChange
{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    text-align: end;
    justify-content: flex-end;
}
    


a
{
  
    color: #5782EE;
}


.mb-md-5 {
    margin-bottom: 0rem !important;
}

.pb-5 {
    padding-bottom: 0rem !important;
}

.py-5.hospitalDatabaseOption {
    padding-top: 12rem!important;
    padding-bottom: 3rem!important;
}

.color-red
{
    background-color: red;
}
.color-yellow
{
    background-color: yellow;
}
.color-green
{
    background-color: greenyellow;
}